<footer class="section-p1">
    <div class="col">
      <img class="logo" src="../../assets/WellspringCare-20230207-153448.png" alt="">
      <h4>Contact</h4>
      <p><strong>Address: </strong> University , Giza ,Egypt</p>
      <p><strong>Email: </strong> info@example.com</p>
      <p><strong>phone: </strong> +012 345 33390</p>
      <div class="follow">
        <h4>Follow us</h4>
        <div class="icon">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-pinterest"></i>
          <i class="fa-brands fa-youtube"></i>

        </div>
      </div>
    </div>

    <div class="col">
      <h4>About</h4>
      <a >Delivery Information</a>
      <a >privacy policy</a>
      <a routerLink="contact">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a routerLink="login">Sign In</a>
      <a routerLink="cart">view Cart</a>
      <a routerLink="wishlist">My Wishlist</a>
    </div>
    <div class="col install">
      <h4>Install App</h4>
      <p>Secured Payment Gateways</p>
      <img src="../../assets/pay.png" alt="">
    </div>
   
  </footer>

