/*=============== ACCOUNTS ===============*/
.account-container {
    grid-template-columns: 4fr 8fr;
  }
  .account-tabs {
    border: 1px solid lightgray;
  }
  .account-tab {
    padding: 1rem 2rem;
    color: #1a1a1a;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
  }
  .account-tab.active-tab {
    background-color: #088178;
    color:#f9f9f9;
  }
  .account-tab:not(:last-child) {
    border: 1px solid lightgray;
  }
  .tab-content:not(.active-tab) {
    display: none;
  }
  .tab-content {
    border: 1px solid lightgray;
  }
  .tab-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
    font-size: 0.875rem;
  }
  .tab-body {
    padding: 1rem;
    /* font-family: var(--second-font); */
  }
  .placed-order-table {
    color: #1a1a1a;
    text-align: left;
  }
  .placed-order-table tr th,
  .placed-order-table tr td {
    border: 1px solid lightgray;
    padding: 0.5rem;
    font-size: 0.875rem;
  }
  .view-order,
  .edit {
    color: #088178;
  }
  .address {
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .city {
    margin-bottom: 0.25rem;
  }
  .edit {
    font-size: 0.875rem;
  }


  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 2rem;
  }
  .section-title {
    font-size: 1.375rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: black;
  }
  .section-title span {
    color: #088178;
  }
  .table tr {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
  }
  .tr-last {
    border-bottom: 1ps solid lightgray;
  }
  .table tr th:nth-child(1),
  .table tr td:nth-child(1) {
    width: 216px;
  }
  .table tr th:nth-child(2),
  .table tr td:nth-child(2) {
    width: 400px;
  }
  .table tr th:nth-child(3),
  .table tr td:nth-child(3) {
    width: 108px;
  }
  .table tr th:nth-child(4),
  .table tr td:nth-child(4) {
    width: 220px;
  }
  .table tr th:nth-child(5),
  .table tr td:nth-child(5) {
    width: 200px;
  }
  .table tr th:nth-child(6),
  .table tr td:nth-child(6) {
    width: 152px;
  }
  .table-img {
    width: 90px;
  }
  .table tr th,
  .table tr td {
    padding: 0.5rem;
    text-align: center;
  }
  .table-title,
  .table-desc,
  .table-price,
  .table-subtotal,
  .table-trash,
  .table-stock {
    font-size: 0.8125rem;
  }
  .table-title,
  .table-stock {
    color: #088178;
  }
  .table-desc {
    max-width: 250px;
    margin-inline: auto;
  }
  .table-trash {
    color: lightgray;
  }