<section id="page-header" class="about_header">
    <h2> #Contact_Us </h2>
   </section>
  
   <section id="contact-details" class="section-p1">
    <div class="details">
      <span>Get IN TOUCH</span>
      <h2>Visit one of our agency locations or contact us today</h2>
      <h3>Head office</h3>
      <div> 
        <li>
         <i class="fa-regular fa-map"></i>
          <p>55 Ahmed Hassan street Giza Egypt</p>
          </li>
          <li>
        <i class="fa-regular fa-envelope"></i>
          <p>contact@example.com</p>
          </li>
          <li>
         <i class="fa-solid fa-phone"></i>
          <p> +012 345 33390</p>
          </li>
          <li>
          <i class="fa-regular fa-clock"></i>
          <p>Monday to saturday: 9.00am to 6.00pm</p>
          </li>
    </div>
    </div>
  
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.3312169199116!2d31.209125000000007!3d30.0273542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846db01520851%3A0xbd9781bf40115c5d!2sCairo%20University!5e0!3m2!1sen!2seg!4v1693657292579!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
    </div>
  
   </section>
